@model IEnumerable<Ouvidoria_Projeto.Models.ManifestoSolicitante>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manifestos Solicitante</h1>

<p>
    <a asp-action="Create">Novo Manifesto</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoManifesto)
            </th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => User.Identity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @{
                    var active = item.Status;
                    if (active == 0)
                    {
                        @Html.DisplayName("Aguardando")
                    }
                    else if (active == 1)
                    {
                        @Html.DisplayName("Respondido")
                    }
                    else
                    {
                        @Html.DisplayName("Desativado")
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoManifesto.Descricao)
            </td>
            <td>
                @{
                    if (active != 2)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ManifestoId">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.ManifestoId">Deletar</a>
                        <a asp-action="Details" asp-route-id="@item.ManifestoId">Detalhes</a> 
                        if (active != 0)
                        {
                            <a asp-action="Visualizar" asp-route-id="@item.ManifestoId">Visualizar Resposta</a>
                        }
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
