@model Ouvidoria_Projeto.Models.Resposta

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Desativar</h1>

<h3>Você realmente deseja fazer isso?</h3>
<div>
    <h4>Dados da Respostas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespostaManifesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespostaManifesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manifesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manifesto.Descricao)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RespostaId" />
        <input type="submit" value="Desativar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para listagem</a>
    </form>
</div>
